.admincontainer {
  display: flex;
  justify-content: center;
}
.admincontainer2 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

div.adminitem {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

div.adminitem * {
  box-sizing: border-box;
  border-radius: 10px;
}

div.adminitem img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
  border-radius: 10px;
}

div.adminitem i {
  position: absolute;
  top: 45%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

div.adminitem h2 {
  position: absolute;
  top: 72%;
  left: 48%;
  font-size: 20px;
  color: whitesmoke;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

div.adminitem h3 {
  position: absolute;
  top: 72%;
  left: 46%;
  font-size: 20px;
  color: whitesmoke;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

div.adminitem a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

div.adminitem.blue {
  background-color: #34495e;
}
div.adminitem.blue i {
  color: #34495e;
}
div.adminitem.red {
  background-color: #e74c3c;
}
div.adminitem.red i {
  color: #e74c3c;
}

div.adminitem.green {
  background-color: #16a085;
}
div.adminitem.green i {
  color: #16a085;
}

div.adminitem:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.adminitem * {
  transition: all 0.35s ease-in-out;
}

div.adminitem i {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div.adminitem:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

div.adminitem h2 {
  transform: translate(-50%, -70%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div.adminitem:hover h2 {
  transform: translate(-50%, -70%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

div.adminitem h3 {
  transform: translate(-50%, -70%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div.adminitem:hover h3 {
  transform: translate(-50%, -70%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
